* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  padding: 0 10vw;
  canvas {
    border: 1px solid;

    display: block;
  }

  #canvas2 {
    margin: auto;
  }
}
